body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.quote1 {
	position: absolute;
	background-image: url(../images/quotes.png);
	display: block;
	width: 50px;
	height: 40px;
	z-index: 1;
	margin: 0 0 0 30px;
}
.quote2 {
	position: absolute;
	background-image: url(../images/quotes.png);
	display: block;
	width: 50px;
	height: 40px;
	z-index: 2;
	margin: -20px 0 0 570px;
	background-position: right;
}


.logo {
	width: 700px;
	margin: 0 auto;
	height: 170px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
}
.step {
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 20px 10px;
	font-weight: bold;
	color: #FB399E;
	font-size: 36px;
	position: absolute;
	z-index: 10;
	margin: -30px 0 0 690px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.doc {
	padding: 5px;
	text-align: justify;
	margin-top: 10px;
}
.doc img {
	float: left;
	margin: 0 10px 10px 0;
}


.input_error {
	border: 1px solid #F00;
}

.wrapper {
	width: 700px;
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #E8E8E8;
	padding: 10px;
	margin: 0 auto;
}
.wrapper h2 {
	text-align: center;
	display: block;
}
.wrapper .forms {
	margin: 30px 0 0 0;
}
.wrapper .tips-wrap {
	padding: 10px;
}
.wrapper .tips-wrap .tips {
	background-color: #FFF;
	background-image: url(../images/tip_bg.png);
	padding: 10px 10px 30px 10px;
	color: #C00;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	border: 1px solid #999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	line-height: 25px;
}
.wrapper .tips-wrap .tips .txt {
	margin: 0 10px;

}
.wrapper .tips-wrap .tips blockquote {
	display: block;
	position: relative;
	z-index: 1;
	width: 600px;
	margin: 50px 0 20px 10px;
}
.wrapper .results_wrap {
	background-color: #FFF;
	border: 1px solid #999;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 10px;
}


.login {
  position: relative;
  margin: 80px auto;
  width: 400px;
  padding-right: 32px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.login p {
  margin: 0 0 10px;
}

input, button, label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
input[type=text]:focus, input[type=password]:focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}

.login_container label {
  float: left;
  width: 100px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  letter-spacing: 1px;
  color: #fff;
}


.login-submit {
  position: absolute;
  top: 12px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}
.login-submit:before, .login-submit:after {
  content: '';
  z-index: 1;
  position: absolute;
}
.login-submit:before {
  top: 28px;
  left: -4px;
  width: 4px;
  height: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}
.login-submit:after {
  top: -4px;
  bottom: -4px;
  right: -4px;
  width: 36px;
}

.login-button {
  position: relative;
  z-index: 2;
  width: 48px;
  height: 48px;
  padding: 0 0 48px;
  /* Fix wrong positioning in Firefox 9 & older (bug 450418) */
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  /* Must use another pseudo element for the gradient background because Webkit */
  /* clips the background incorrectly inside elements with a border-radius.     */
}
.login-button:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #00a2d3;
  border-radius: 24px;
  background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
  background-image: linear-gradient(to bottom, #00a2d3, #0d7796);
  -webkit-box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
}
.login-button:active:before {
  background: #0591ba;
  background-image: -webkit-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -moz-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -o-linear-gradient(top, #0591ba, #00a2d3);
  background-image: linear-gradient(to bottom, #0591ba, #00a2d3);
}
.login-button:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 19px;
  background: url("../img/arrow.png") 0 0 no-repeat;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 40px;
  background: #282828;
}
.lt-ie9 .login-submit {
  position: absolute;
  top: 12px;
  right: -28px;
  padding: 4px;
}
.lt-ie9 .login-submit:before, .lt-ie9 .login-submit:after {
  display: none;
}
.lt-ie9 .login-button {
  line-height: 48px;
}
.lt-ie9 .about {
  background: #313131;
}
.login_container{
height: 262px;
padding-top: 3px;
background: #333;
margin:70px;
}
.login_error{
position: absolute;
top: 287px;
left: 602px;
color: crimson;
}
a.logout{
position: absolute;
left: 953px;
font-size: 16px;
color: midnightblue;
font-weight: bolder;
}
